<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Game</title>

    <div th:replace="fragments/header::head"></div>
    <link rel="stylesheet" th:href="@{/css/game_form.css}" />
</head>

<body>

<div>
    <div th:replace="fragments/navbar::navbar"></div>

    <form th:action="@{/library/patch/}" th:object="${record}" method="post"
          class="form-style-9" enctype="multipart/form-data" autocomplete="off">
        <ul>
            <li>
                <div th:switch="${record.getPlatinumGame() != null}">
                    <a th:case="true" th:href="@{/platgames/showgame/{psnpid}/(psnpid=${record.platinumGame.getId()})}">
                        <img class="field-style field-full align-left" id="#coverbox"
                             th:src="${record.getImage()}" />
                    </a>

                    <a th:case="*" th:href="@{/showgame/{gpk}/(gpk=${record.indieGame.getPk()})}">
                        <img class="field-style field-full align-left" id="#coverbox"
                             th:src="${'../../' + record.getImage()}" />
                    </a>
                </div>

                <input type="hidden" id="id" name="id" th:field="*{id}">

                <div style="margin-top: 8px;" th:text="'Game: ' + ${record.getName()}"></div>

                <input style="margin-top: 12px;" type="number" class="field-style field-full align-right"
                       placeholder="Rate" th:field="*{rate}" />

                <input type="number" class="field-style field-full align-right"
                       placeholder="Progress" th:field="*{progress}" />

                <input type="number" class="field-style field-full align-right"
                       placeholder="Playtime" th:field="*{playtime}" />

                <select th:field="*{status}" class="field-style field-full align-right">
                    <option th:value="${null}" th:selected="true"> --- </option>

                    <option th:text="Queue" th:value="${statuses[0]}"></option>
                    <option th:text="Playlist" th:value="${statuses[1]}"></option>
                    <option th:text="Just_Started" th:value="${statuses[2]}"></option>
                    <option th:text="Main_Story_Finished" th:value="${statuses[3]}"></option>
                    <option th:text="Completed" th:value="${statuses[4]}"></option>
                </select>

                <select th:field="*{purchaseType}" class="field-style field-full align-right">
                    <option th:value="${null}" th:selected="true"> --- </option>

                    <option th:text="Disk" th:value="${ptlist[0]}"></option>
                    <option th:text="Digital_UK" th:value="${ptlist[1]}"></option>
                    <option th:text="Digital_USA" th:value="${ptlist[2]}"></option>
                    <option th:text="Plus_UK" th:value="${ptlist[3]}"></option>
                    <option th:text="Plus_USA" th:value="${ptlist[4]}"></option>
                    <option th:text="Digital_Other" th:value="${ptlist[5]}"></option>
                    <option th:text="Plus_Other" th:value="${ptlist[6]}"></option>
                    <option th:text="EA_Play" th:value="${ptlist[7]}"></option>
                    <option th:text="Steam_TUR" th:value="${ptlist[8]}"></option>
                    <option th:text="Nintendo_US" th:value="${ptlist[9]}"></option>
                </select>

                <select th:field="*{platform}" class="field-style field-full align-right">
                    <option th:value="${null}" th:selected="true"> --- </option>

                    <option th:text="PS4" th:value="${platforms[0]}"></option>
                    <option th:text="PS5" th:value="${platforms[1]}"></option>
                    <option th:text="PS4_And_PS5" th:value="${platforms[2]}"></option>
                    <option th:text="PC" th:value="${platforms[3]}"></option>
                    <option th:text="Nintendo_Switch" th:value="${platforms[4]}"></option>
                </select>
            </li>
            <li>
                <input style="margin-top: 16px;" type="submit" th:value="'Patch Game'"/>
            </li>
        </ul>
    </form>

    <form class="form-style-9" method="post" th:action="@{/library/delete/{id}/(id=${record.getId()})}"
          th:object="${record}" onsubmit="return areYouSure();">
        <div style="color: #3d2200; font-weight: bold; margin-bottom: 8px;">Warning: Deleting Library Game!</div>
        <input type="submit" value="Delete Game" />
    </form>
</div>

</body>
</html>