<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${type.equals('plats') ? 'PlatGames' : 'WishList'}"></title>

    <div th:replace="fragments/header::head"></div>
</head>

<body>
    <div th:replace="fragments/navbar::navbar"></div>

    <div class="container">
        <form th:action="${type.equals('plats')} ? @{/platgames/} : @{/platgames/wishlist/}" method="get">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control"
                               placeholder="Search in games by title, ..."
                                th:field="${gsearch.name}">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${type.equals('plats')}" style="margin-top: 16px;">
        <div th:replace="fragments/libincluded::libinc"></div>
    </div>

    <div th:if="${type.equals('plats')}" th:replace="fragments/sorts::sort_options"
         style="margin-top: 16px;"></div>

    <div style="padding-top: 20px; padding-bottom: 15px;">
        <div th:replace="fragments/pagination::pagination"></div>
    </div>

    <div class="container" style="margin-bottom: 32px;">
        <div class="a-box" th:each="game : ${records}">
            <div class="img-container">
                <div class="img-inner">
                    <a th:href="'/platgames/showgame/' + ${game.getId()} + '/'" target="_blank">
                        <div class="inner-skew">
                            <img th:src="${game.getImage()}">
                        </div>
                    </a>
                </div>
            </div>
            <div class="text-container">
                <div th:each="item: ${game.getShortSummary()}" th:text="${item}"></div>

                <div th:if="${type.equals('plats')}" style="margin-top: 6px;">
                    <div th:replace="fragments/sources_links::links"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>