<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Game</title>

    <div th:replace="fragments/header::head"></div>
    <link rel="stylesheet" th:href="@{/css/game_form.css}" />
</head>

<body>

<div>
    <div th:replace="fragments/navbar::navbar"></div>

    <div th:object="${record}" method="post" style="width: 80%; max-width: 650px;"
          class="form-style-9" enctype="multipart/form-data">
        <ul>
            <li>
                <img class="field-style field-full align-left" id="#coverbox"
                     th:src="${record.getImage()}" />
            </li>

            <div th:each="item: ${record.getSummary()}" th:text="${item}"></div>

            <li style="margin-top: 16px;">
                <div style="display: inline-block">
                    <div th:switch="${in_wishlist}" style="display: inline">
                        <form th:case="false" style="display: inline" method="post"
                              th:action="@{/platgames/showgame/{id}/add_wish/(id=${record.getId()})}">
                            <input type="submit" style="height: 45px;" value="Add To Wishlist" />
                        </form>

                        <form th:case="true" onsubmit="return areYouSure();"
                              style="display: inline;" method="post"
                              th:action="@{/platgames/showgame/{id}/delete_wish/(id=${record.getId()})}">
                            <input type="submit" style="background-color: #c72479; height: 45px;"
                                   value="Remove From Wishlist" />
                        </form>
                    </div>

                    <div th:switch="${in_psngames}" style="display: inline">
                        <form th:case="false" style="display: inline" method="post"
                              th:action="@{/platgames/showgame/{id}/add_user_game/(id=${record.getId()})}">
                            <input style="height: 45px;" type="submit" value="Add To MyGames" />
                        </form>

                        <button th:case="true" style="height: 45px;"
                                type="button" class="btn btn-success sort-button">In YourGames</button>
                    </div>
                </div>

                <div style="display: inline-block; margin-top: 8px;">
                    <form style="display: inline" method="post"
                          th:action="@{/platgames/update/psn/{psnpid}/(psnpid=${record.getId()})}">
                        <input type="submit" value="Update Store" />
                    </form>

                    <form style="display: inline" method="post"
                          th:action="@{/platgames/update/hltb/{psnpid}/(psnpid=${record.getId()})}">
                        <input type="submit" value="Update HLTB" />
                    </form>

                    <form style="display: inline" method="post"
                          th:action="@{/platgames/update/psnp/{psnpid}/(psnpid=${record.getId()})}">
                        <input type="submit" value="Update PSNP" />
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <div class="form-style-9" enctype="multipart/form-data">
        <ul>
            <li>
                <form method="post" th:action="@{/platgames/patch/psnp/{psnpid}/(psnpid = ${record.getId()})}">
                    <input type="text" class="field-style field-full align-left"
                           placeholder="PSNP Url" id="psnp" name="psnp" th:value="${psnp}" />

                    <input style="margin-top: 6px; margin-bottom: 24px;"
                           type="submit" value="Patch PSNP Url" />
                </form>

                <form method="post" th:action="@{/platgames/patch/hltb/{psnpid}/(psnpid = ${record.getId()})}">
                    <input type="text" class="field-style field-full align-left"
                           placeholder="HLTB Url" id="hltb" name="hltb" th:value="${hltb}" />

                    <input style="margin-top: 6px; margin-bottom: 24px;"
                           type="submit" value="Patch HLTB Url" />
                </form>

                <form method="post" th:action="@{/platgames/patch/psn/{psnpid}/(psnpid = ${record.getId()})}">
                    <input type="text" class="field-style field-full align-left"
                           placeholder="PSN ID" id="psnid" name="psnid" th:value="${psnid}" />

                    <input style="margin-top: 6px; margin-bottom: 24px;"
                           type="submit" value="Patch PSN ID" />
                </form>
            </li>
        </ul>
    </div>
</div>

</body>
</html>