<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sale Games</title>

    <div th:replace="fragments/header::head"></div>
</head>

<body>
    <div th:replace="fragments/navbar::navbar"></div>

    <div class="container">
        <form th:action="@{/salegames/}" method="get">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control"
                               placeholder="Search in games by title, ..."
                                th:field="${gsearch.Name}">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="fragments/sale_sorts::sort_options" style="margin-top: 16px;"></div>

    <div style="padding-top: 20px; padding-bottom: 15px;">
        <div th:replace="fragments/pagination::pagination"></div>
    </div>

    <div class="container" style="margin-bottom: 32px;">
        <div class="a-box" th:each="game : ${records}">
            <div class="img-container">
                <div class="img-inner" th:switch="${game.getPlatinumGame() != null}">
                    <a th:case="true" th:href="'/platgames/showgame/' + ${game.platinumGame.getId()} + '/'" target="_blank">
                        <div class="inner-skew">
                            <img th:src="${game.getImg()}">
                        </div>
                    </a>

                    <div th:case="*" class="inner-skew">
                        <img th:src="${game.getImg()}">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <div th:text="${game.getName}"></div>
                <div th:text="${game.getPriceSummary()}"></div>
                <div>
                    <span>Discount: </span>
                    <span style="font-weight: bold; color: #0ba691" th:text="${game.getDiscountText()}"></span>
                    <div style="display: inline" th:if="${game.salePriceValue > game.plusPriceValue}">
                        <span> | </span>
                        <span style="font-weight: bold; color: #a98c00" th:text="${game.getPlusDiscountText()}"></span>
                    </div>
                    <div>
                        <span th:text="${game.getDiscountedUntilSummary()}"></span>
                    </div>
                </div>

                <div th:if="${game.platinumGame != null}">
                    <div>-------</div>
                    <div th:each="item: ${game.platinumGame.getShortSummary(false)}" th:text="${item}"></div>
                </div>

                <div style="margin-top: 12px;">
                    <form style="display: inline;" method="post" target="_blank"
                          th:action="@{/platgames/insertgame_ppid/}">

                        <input type="hidden" id="ppid" name="ppid" th:value="${game.PPID}" />
                        <input type="submit" class="btn-sm btn-primary" value="Add PG" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>