<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:replace="fragments/header::head"></div>
</head>
<body th:fragment="pagination">
    <nav aria-label="Page navigation" style="float: right">
        <ul class="pagination">
            <li class="page-item" th:classappend="${records.first} ? disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item"
                th:classappend="${records.number == i} ? active"
                th:each="i : ${#numbers.sequence(0, records.totalPages - 1)}">
                <a class="page-link" th:href="@{/studios(page=${i})}">[[${i + 1}]]</a></li>

            <li class="page-item" th:classappend="${records.last} ? disabled">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>