<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div th:replace="fragments/header::head"></div>
</head>
<body>
    <div th:fragment="pagination" th:switch="${records.totalPages > 0}">
        <nav th:case="true" aria-label="Page navigation" style="display: flex">
            <ul class="pagination"
                th:with="url=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()},
                         pgvar=${T(ir.sbpro.springdb.utils.PaginationVars).getInstance(records.number, records.totalPages - 1, 25)}"
                style="margin: auto">

                <li class="page-item" th:classappend="${records.first} ? disabled">
                    <a class="page-link"
                       th:href="@{${url.replaceQueryParam('page').toUriString()}(page=${records.number - 1})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item"
                    th:classappend="${records.number == i} ? active"
                    th:each="i : ${#numbers.sequence(pgvar.firstItem, pgvar.lastItem)}">
                    <a class="page-link"
                       th:href="@{${url.replaceQueryParam('page').toUriString()}(page=${i})}">[[${i + 1}]]</a></li>

                <li class="page-item" th:classappend="${records.last} ? disabled">
                    <a class="page-link"
                       th:href="@{${url.replaceQueryParam('page').toUriString()}(page=${records.number + 1})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>