<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Studios</title>
    <div th:replace="fragments/header::head"></div>
</head>
<body>
    <div th:replace="fragments/navbar::navbar"></div>

    <div style="padding-left: 30px; padding-right: 30px;">
        <a class="mb-2 btn btn-primary" style="width: 100px; float: left" th:href="@{/studioform}" target="_blank">
            NEW
        </a>

        <div style="float: right">
            <div th:replace="fragments/pagination::pagination"></div>
        </div>
    </div>

    <table class="table" th:object="${records}">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studio : ${records}">
            <th scope="row" th:text="${studio.getName()}"></th>
            <td>
                <a class="btn btn-success" style="width: 80px" target="_blank"
                   th:href="@{/studioform/{id}(id=${studio.getPk()})}">Edit</a>

                <form style="display: inline" method="post" th:action="@{/delstudio}" onsubmit="return areYouSure();">
                    <input type="hidden" name="delpk" id="delpk" th:value="${studio.getPk()}">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>